.outer{
    height: 350px;
    background-color:#a9d6ec
}

.contact{
    font-size: 16px;
    color: black;
    position: static;
    bottom: 0px;
    padding-right:140px; 
    padding-left:140px;
}

.text{
    font-size: 16px;
    color: black;
    position: static;
    bottom: 10px;
    padding-right:140px; 
    padding-left:140px;
    
}

img{
    width: 50px;
    height: 50px;
}